/* @import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

body {
  min-height: 100vh;
}

.site-header {
  background: url("images/pets-logo.png") top center/200px no-repeat;
  padding: 250px 0 20px 0;
  font-family: 'Satisfy', cursive;
}

.site-header .title {
  padding: 250px 0 20px 0;
  font-family: 'Satisfy', cursive;
}

.kaa-card-image-container {
  box-shadow: 0 0 50px 0 black inset;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.kaa-card-image-container img {
  width: initial;
  height: initial;
  object-fit: cover;
  opacity: 0.8;
  filter: grayscale(40%);
}

.animals-greed .column {
  padding-bottom: 30px;
}

.animals-greed .card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 30px #dedede;
}

.out-of-rich {
  transform: translateX(-9999px);
}

.section .container .kaa-pagination-arrow {
  border-radius: 290486px;
  background: white;
  border: none;
  box-shadow: 0 5px 20px #8a8a8a;
  height: 40px;
  color: #8d6e63;
  padding: 10px 30px !important;
}

.section .container .pagination-link {
  background: white;
  border: none;
  box-shadow: 0 5px 20px #8a8a8a;
  width: 40px;
  height: 40px;
  color: #8d6e63;
}

.pagination-list li {
  flex-grow: 0;
}

.section .container .is-current {
  color: #fff !important;
  background: #8d6e63 !important;
}

.section .container .pagination-ellipsis {
  color: #8d6e63;
}

.container-find-breed {
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: #8d6e63;
  color: white;
  padding: 30px 0;
}

.find-breed-text {
  font-size: 28px;
  font-family: 'Satisfy', cursive;
  transform: translate(-4px, 1px);
}

.find-breed-form {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.ss-main .ss-multi-selected .ss-add {
  margin: 14px 12px 0 5px;
}

.ss-main .ss-multi-selected {
  min-height: 40px;
  border-radius: 20px;
}

.select-breed {
  margin: 0 30px;
  width: 300px;
}

.tabs a {
  border-bottom-width: 5px;
}

.cart-link {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  background: red;
  color: white;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .find-breed-form {
    margin: 30px 0 0;
    width: 100%;
  }
  .find-breed-form > * {
    width: 100%;
  }
  .select-breed {
    margin: 0 0 30px;
    width: 100%;
  }
} */

@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");

.site-header {
  background: url("images/pets-logo.png") top center/200px no-repeat;
  padding: 250px 0 20px 0;
}

.site-header h1 {
  font-family: "Satisfy", cursive;
}

.filter-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.filter-tabs .button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid black;
  margin: 0 10px;
  font-weight: 700;
}
.filter-tabs .button.is-dark {
  font-weight: 400;
  width: 100px;
  height: 100px;
}

.container-find-breed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: url("images/sea_bg.jpg");
  box-shadow: 0 0 3px 0 #d0d0d0;
  margin-bottom: 100px;
}

.find-breed-label {
  font-size: 28px;
  font-family: "Satisfy", cursive;
  transform: translateY(2px);
  margin-right: 25px;
}

.select-breed {
  width: 500px;
}

.ss-main .ss-multi-selected .ss-add {
  display: none;
}

.ss-main .ss-multi-selected {
  min-height: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 3px 0 #d0d0d0;
}

.ss-main .ss-multi-selected.ss-open-below,
.ss-main .ss-multi-selected.ss-open-above {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.ss-main .ss-content .ss-search {
  padding: 8px 8px 26px;
}

.ss-main .ss-content.ss-open {
  border-radius: 20px;
  top: calc(100% + 10px);
  padding-bottom: 20px;
  border: none;
  box-shadow: 0 0 3px 0 #d0d0d0;
}

.ss-main .ss-multi-selected .ss-values {
  padding: 3px;
}

.ss-main .ss-multi-selected .ss-values .ss-value {
  height: 28px;
  border-radius: 16px;
  padding: 0 33px 0 16px;
  font-size: 13px;
  background-color: #00d1b2;
  animation: none;
  position: relative;
  box-shadow: 0 0 2px 0 #d0d0d0;
}

.ss-main .ss-multi-selected .ss-values .ss-value .ss-value-delete {
  position: absolute;
  display: flex;
  right: 0px;
  width: 28px;
  height: 28px;
  border-radius: 16px;
  margin: 0;
  justify-content: center;
  padding-top: 4px;
  top: 0px;
}

.ss-main .ss-multi-selected .ss-values .ss-value .ss-value-delete:hover {
  background-color: #7a7a7a;
  box-shadow: 0 0 3px 0 #d0d0d0;
}

.ss-main .ss-content .ss-list .ss-option.ss-highlighted,
.ss-main .ss-content .ss-list .ss-option:hover {
  background-color: #00d1b2;
}

.ss-main .ss-content .ss-search input {
  box-shadow: none;
  border: none;
  padding: 6px 0;
  margin: 0 8px;
  border-radius: 0;
  border-bottom: 1px solid #a5a5a5;
}

.ss-main .ss-content .ss-search input:focus {
  box-shadow: none;
}

.ss-open-above + .ss-content {
  top: 30px !important;
}

.kaa-card-image {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 10px;
  filter: grayscale(30%);
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 45px 0 #0000008c inset;
}

.animal-card.columns {
  margin-top: 30px;
  margin-bottom: 50px;
}

.animal-card .animal-card-title {
  display: inline;
  font-size: 50px;
  font-weight: 700;
  color: #404040;
  box-shadow: 0 -20px 0 0 #f39db6 inset;
}

.animal-card-desc {
  display: flex;
  align-items: center;
  padding-right: 60px !important;
}

.animal-card .animal-card-price {
  font-size: 45px;
  font-weight: 700;
  color: #b9b9b9;
}

.animal-card-content-wrapper > div + div {
  margin-top: 10px;
}

.card-details-button,
.animals-details-back-button {
  margin-right: 10px;
}

.pagination-link.is-current {
  border-color: #000000;
  background-color: transparent;
  color: initial;
  box-shadow: 0 0 3px 0 #d0d0d0;
}

.out-of-rich {
  visibility: hidden;
}

.animal-details-page-card .animal-card-title {
  font-size: 60px;
}

.animal-details-list,
.animals-details-buttons {
  margin-top: 50px;
  max-width: 500px;
}

.animal-details-list .level {
  font-size: 25px;
  color: #888;
}

.animal-details-list .level:hover {
  text-decoration: underline;
}

.animal-details-list .level .level-left {
  font-weight: bold;
}

.animals-details-image {
  width: 100%;
  margin-top: 25px;
  filter: grayscale(30%);
  opacity: 0.8;
  border-radius: 25px;
  transform: rotate(-1deg);
  box-shadow: -20px 20px 0 0 #9394c3, 0 0 45px 0 #0000008c inset;
}

.site-navigation a {
  margin: 0 10px;
}

.current-link {
  text-decoration: underline;
}

.cart-item-image {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  filter: grayscale(0.3);
  opacity: 0.8;
  box-shadow: 0 0 20px 0 #585858 inset;
}

.cart-page > .container {
  max-width: 700px;
}

.cart-card-content {
  align-items: center;
}